
.boxup {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 2px solid #6b6b6b; 
  background-color: #adb3bd;
  padding: 15px;
  border-radius: 10px; 
  max-width: 660px; 
  max-height: 290px;
  margin: 20px auto; 
  padding-bottom: 7px;
  box-sizing: border-box;
}

.boxright {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  border: 2px solid #6b6b6b; 
  background-color: #adb3bd;
  padding: 15px;
  border-radius: 10px; 
  max-width: 660px; 
  max-height: 290px;
  margin: 20px auto;
  padding-bottom: 27px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.boxdown {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 2px solid #6b6b6b; 
  background-color: #adb3bd;
  padding: 15px;
  border-radius: 10px; 
  max-width: 660px; 
  max-height: 290px; 
  margin: 20px auto;
  padding-bottom: 27px;
  box-sizing: border-box; 
}


.boxund {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 2px solid #6b6b6b; 
  background-color: #adb3bd;
  padding: 10px;
  border-radius: 10px; 
  max-width: 660px; 
  margin: 20px;   
  max-height: 290px; 
  box-sizing: border-box; 
}


.text {
  flex: 1; 
  margin-right: -10px; 

}

.text h1 {
  font-size: 30px; 
  margin: 0; 
  text-decoration: underline;
}

.text h2 {
  font-size: 23px; 
  margin: 0; 
}

.text p {
  font-size: 18px;
  margin: 10px 0 0; }


.imagt {
  flex-shrink: 0; 
}

.imagt img {
  width: 150px; 
  height: auto; 
  border-radius: 8px; 
}


a.blr {
  text-decoration: underline;
  color: #171422; 
  font-size: 35px; 
  font-weight: bold;
  padding: 3px; 
  transition: color 0.3s, background-color 0.3s; 
  
}

div.sticky.stuck a.blr {
  color: rgb(255, 255, 255); 
  text-decoration: underline;
}

div.sticky.stuck a.blr:hover {
background-color: rgb(255, 234, 45); 
text-decoration: underline;
  border-radius: 8px;
  color: #242036;
}

a.blr:hover {
  background-color: rgb(255, 234, 45); 
  border-radius: 8px;
  color: #242036;
  text-decoration: underline; 
  z-index: 5;
}


.blr:hover .pngbar {
  background-color: yellow; 
  border-radius: 5px; 
  transition: 0.3s ease-in-out; 
}

:target::before {
  content: "";
  display: block;
  height: 80px; /* Adjust this based on the size of your fixed menu */
  margin-top: -80px; /* Same value as height */
}


.leftflex{
  flex:1;
}

div.sticky.stuck.blr:hover .pngbar{
  background-color: rgb(251, 255, 1);
}

.rowflex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexright{
  flex:1;
}
.flexleft {
  position: sticky;
  top: 10px; /* Adjust as needed */
  z-index: 1000; /* Keeps it above other elements */
  background-color: #171422; /* Ensures it's visible */
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;
}
.surround {
  border: #171422 solid 7px;
  width: 1000px;
}

.surround h3:first-of-type {
  margin-top: 0;
  padding-top: 0;
}


h4{
  text-align:center;
  font-size: 50px;
}

h3{
  text-align: center;
  font-size:70px;
  text-decoration: underline solid #ffffff;
  color: white;
  background-color: #28233d;
  padding-bottom: 10px;
}


.fad-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fad-in.visible {
  opacity: 1;
  transform: translateY(0);
}

a{
  color: #171422;
}

.drop-content {
  display: none;
  margin-left: 20px; 
  font-size: 19px;
  background-color:#887eac;
  text-align: center;
  color: #171422;
}

.drop-header {
  cursor: pointer;
  font-size: 40px;
  font-family: spacefont;
  margin: 10px 0;
  background-color: #171422;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  transition: background-color 0.3s ease;
  border: #171422 solid;
}

.drop-header:hover {
  background-color: #887eac;
}

.drop-content.active {
  display: block;
}

.menuoptions{
  display: flex; 
  flex-direction: row;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  border: #171422 solid;
}

.menudesc{
  display: flex; 
  flex-direction: row;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}


.footer{
  background-color:#171422;
  color: #fff;
  padding: 2px;
  z-index: 2;
  text-align: center;
  margin-top: 50px;
  max-height: 335px;
  flex:1;
}

.footerhead{
  background-color:#1d192c;
  z-index: 2;
  text-align: center;
  margin-top: 200px;
  max-height: 50px;
  flex:1;
}



.footercontainer{
  display: flex;
  flex-direction: row;
}

.footertxt{
  color:#d9e806;
  font-size: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;

}

.footpng{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer; 
  color: rgb(238, 255, 0); 
  font-size: 20px;
  text-align: center;
}