
.footer{
    background-color:#171422;
    color: #fff;
    padding: 2px;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
    max-height: 335px;
    flex:1;
}

.lern{
    background-color: #171422;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 41%;
}

.footerhead{
    background-color:#1d192c;
    z-index: 2;
    text-align: center;
    margin-top: 200px;
    max-height: 50px;
    flex:1;
}
  
  
.footercontainer{
    display: flex;
    flex-direction: row;
}
  
.footertxt{
    color:#d9e806;
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  
}
  
.footpng{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer; 
    color: rgb(238, 255, 0); 
    font-size: 20px;
    text-align: center;
}


.center{
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 2, 29, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
  }
  
  .close {
    color: red;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  .close:hover {
    color: darkred;
  }
  
  